
extends ../layout.jade

block page
  -var current_page = '212Degrees'

block contents
  div.container.panel.panel-default
    h1 212Degrees
    ul
      li: a(href="http://steamcommunity.com/id/Most_Wanted_8ox5/") El_Goon
      li: a(href="http://steamcommunity.com/profiles/76561198094416736") KooBoo
      li: a(href="http://steamcommunity.com/profiles/76561198147028860/") Krix
      li: a(href="http://steamcommunity.com/profiles/76561198080571693/") Leb
      li: a(href="http://steamcommunity.com/id/-0-0-0-0-0-0-0-0000---/") DJ-Ka
      li: a(href="http://steamcommunity.com/id/HandsomeJackson/") HandsomeJack
    p: a(href="mailto: mattdelarosa7@gmail.com") Contact Email - mattdelarosa7@gmail.com






