
extends ../layout.jade

block page
  -var current_page = '212Degrees'

block contents
  div.container.panel.panel-default
    h1 212Degrees
    ul
      li: a(href="http://steamcommunity.com/profiles/76561198251528698//") DXPE CHEF
      li: a(href="http://steamcommunity.com/profiles/76561198094320411") Ghost
      li: a(href="http://steamcommunity.com/id/FluffiNesss/") FluffiNesss
      li: a(href="http://steamcommunity.com/id/lunyrobot/") LunyRobot
      li: a(href="http://steamcommunity.com/profiles/76561198063598870/") ICON
    p: a(href="mailto: austindouglas2000@yahoo.com") Contact Email - austindouglas2000@yahoo.com






