extends ../layout.jade

block page
  -var current_page = '4subs and David'

block contents
  div.container.panel.panel-default
    h1 4subs and David
    ul
      li: a(href="http://steamcommunity.com/id/pantsnotru3/") Tru3
      li: a(href="http://steamcommunity.com/id/DoktorAty") bird
      li: a(href="http://steamcommunity.com/id/laurenthehumanx") your waifu
      li: a(href="http://steamcommunity.com/profiles/76561197994597039") nyselm
      li: a(href="http://steamcommunity.com/id/thesevennationarmy") a kitten
    p: a(href="mailto: richardsonc.david@gmail.com") Contact Email - richardsonc.david@gmail.com
