
extends ../layout.jade

block page
  -var current_page = 'AuraGaming'

block contents
  div.container.panel.panel-default
    h1 AuraGaming
    ul
      li: a(href="http://steamcommunity.com/id/agtombom") TomBom
      li: a(href="http://steamcommunity.com/id/mrman227") 1997
      li: a(href="http://steamcommunity.com/profiles/76561198104383884") Dish
      li: a(href="http://steamcommunity.com/profiles/76561198245383664") MRT
      li: a(href="http://steamcommunity.com/profiles/76561198014422291") HFD Rescue
      li: a(href="http://steamcommunity.com/profiles/76561198042196735") Jakehi99
      li: a(href="http://steamcommunity.com/profiles/76561198144898190") Kikin
    p: a(href="mailto: amann.tommy@gmail.com") Contact Email - amann.tommy@gmail.com
