extends ../layout.jade

block page
  -var current_page = 'BloodXGaming'

block contents
  div.container.panel.panel-default
    h1 BloodXGaming
    ul
    p: a(href="mailto: brenchopper@gmail.com") Contact Email - brenchopper@gmail.com
