extends ../layout.jade

block page
  -var current_page = 'BloodXGaming'

block contents
  div.container.panel.panel-default
    h1 BloodXGaming
    ul
      li: a(href="http://steamcommunity.com/profiles/76561198265378308") Razi
      li: a(href="http://steamcommunity.com/profiles/76561198124400149") Dare21
      li: a(href="http://steamcommunity.com/id/squidplayz/") Nitro
      li: a(href="http://steamcommunity.com/profiles/76561198094497352") Lmao
      li: a(href="http://steamcommunity.com/profiles/76561198170448902") Alpha
      li: a(href="http://steamcommunity.com/id/brendanh19") Hazzeredz      
    p: a(href="mailto: brenchopper@gmail.com") Contact Email - brenchopper@gmail.com
