
extends ../layout.jade

block page
  -var current_page = 'FuelUnitsEsports'

block contents
  div.container.panel.panel-default
    h1 FuelUnitsEsports
    ul
      li: a(href="http://steamcommunity.com/id/pepetoucher/") PepeToucher
      li: a(href="http://steamcommunity.com/id/tabascosoy") Tabascosoy
      li: a(href="http://steamcommunity.com/id/DemonicSmileyFace") entityC
      li: a(href="http://steamcommunity.com/id/ilovedankmemeporn") DankMemes
      li: a(href="http://steamcommunity.com/id/MrOwnerGuy") MrOwnerGuy
      li: a(href="http://steamcommunity.com/profiles/76561198088820399") Bench Player #1
      li: a(href="http://steamcommunity.com/profiles/76561198082230577") Bench Player #2      
    p: a(href="mailto: demonicsmileyface1@gmail.com") Contact Email - demonicsmileyface1@gmail.com

