
extends ../layout.jade

block page
  -var current_page = 'iGniTeGaming'

block contents
  div.container.panel.panel-default
    h1 iGniTeGaming
    ul
      li: a(href="http://steamcommunity.com/id/Dizzma003/") Dizzma
      li: a(href="http://steamcommunity.com/profiles/76561198117178985") Player
      li: a(href="http://steamcommunity.com/id/Stealthactivated") Stealth
      li: a(href="http://steamcommunity.com/id/Zatthorn") Zatthorn
      li: a(href="http://steamcommunity.com/id/tortillah") Tortillah
      li: a(href="http://steamcommunity.com/id/envymia") Envymia
    p: a(href="mailto: derrmor03@gmail.com") Contact Email - derrmor03@gmail.com


