
extends ../layout.jade

block page
  -var current_page = 'rollemover'

block contents
  div.container.panel.panel-default
    h1 RollemOver
    ul
      li: a(href="http://steamcommunity.com/id/EthanIsThEBOSS/") Ethan
      li: a(href="http://steamcommunity.com/id/a$$hole/") A$$HOLE
      li: a(href="http://steamcommunity.com/id/naughtysnail/") Bowers
      li: a(href="http://steamcommunity.com/id/xXNitroXx2902/") xXNitroXx
      li: a(href="http://steamcommunity.com/profiles/76561198117941244/") Marlstrom
    p: a(href="mailto: jimmydahkiller@gmail.com") Contact Email - jimmydahkiller@gmail.com

