
extends ../layout.jade

block page
  -var current_page = 'rollemover'

block contents
  div.container.panel.panel-default
    h1 RollemOver
    ul
      li: a(href="http://steamcommunity.com/id/EthanIsThEBOSS/") Ethan
      li: a(href="http://steamcommunity.com/profiles/76561198092598817/") Robz
      li: a(href="http://steamcommunity.com/profiles/76561197998432093/") Sebastian
      li: a(href="http://steamcommunity.com/profiles/76561198092598817/") Potato
      li: a(href="http://steamcommunity.com/id/PurpleCeweal/") Bryce
    p: a(href="mailto: jimmydahkiller@gmail.com") Contact Email - jimmydahkiller@gmail.com

