
extends ../layout.jade

block page
  -var current_page = 'SwolSquad6'

block contents
  div.container.panel.panel-default
    h1 SwolSquad6
    ul
      li: a(href="http://steamcommunity.com/id/courtlandkhuu") Courtl
      li: a(href="http://steamcommunity.com/id/jeffingtatum/") JeffingTatum
      li: a(href="http://steamcommunity.com/profiles/76561198043140199") Player #1
      li: a(href="http://steamcommunity.com/id/ReimaginedGames") Reimagined
      li: a(href="http://steamcommunity.com/id/MrAndrewFlame") AndrewFlame
      li: a(href="http://steamcommunity.com/profiles/76561198051423709/") Player #2
      li: a(href="http://steamcommunity.com/profiles/76561198094933197/") Bench Player #1      
    p: a(href="mailto: swolsquadsix@gmail.com") Contact Email - swolsquadsix@gmail.com



