
extends ../layout.jade

block page
  -var current_page = 'TeamGreenPro'

block contents
  div.container.panel.panel-default
    h1 TeamGreenPro
    ul
      li: a(href="http://steamcommunity.com/id/TheBlankman") TheBlankman
      li: a(href="http://steamcommunity.com/profiles/76561198244862716/") YDS
      li: a(href="http://steamcommunity.com/profiles/neeedtoputin") Racingwithmj
      li: a(href="http://steamcommunity.com/id/yodamorpheusiii") ItsGlockamole
      li: a(href="http://steamcommunity.com/id/needtoputin") Tento
      li: a(href="http://steamcommunity.com/id/xSilentxSphinx/") Tommy
      li: a(href="http://steamcommunity.com/profiles/76561198036286840") DropTheNade      
    p: a(href="mailto: blankman1266@gmail.com") Contact Email - blankman1266@gmail.com





