
extends ../layout.jade

block page
  -var current_page = 'Team Pasta la Vista'

block contents
  div.container.panel.panel-default
    h1 Team Pasta la Vista
    ul
      li: a(href="http://steamcommunity.com/id/bavb/") Dragon Master C
      li: a(href="http://steamcommunity.com/profiles/76561198166694919") Egg
      li: a(href="http://steamcommunity.com/id/Memer666") Caillou
      li: a(href="http://steamcommunity.com/id/spoopymemes") YumYumLiks
      li: a(href="http://steamcommunity.com/id/slowestguninthewest") Reaper
    p1 Work-In-Progress

