
extends ../layout.jade

block page
  -var current_page = 'TeamNotTalented'

block contents
  div.container.panel.panel-default
    h1 TeamNotTalented
    ul
    p: a(href="mailto: popachow2@gmail.com") Contact Email - popachow2@gmail.com






