
extends ../layout.jade

block page
  -var current_page = 'TeamEclipse'

block contents
  div.container.panel.panel-default
    h1 TeamEclipse
    ul
      li: a(href="http://steamcommunity.com/id/deejayd_d") DJ
      li: a(href="http://steamcommunity.com/id/eclipselemon") Lemon
      li: a(href="http://steamcommunity.com/id/luckyluc777") Lucky777
      li: a(href="http://steamcommunity.com/id/urbanthief") UrbanTheif
      li: a(href="http://steamcommunity.com/id/BroWnRA") BroWnRA
      li: a(href="http://steamcommunity.com/id/RedNecked") RedNecked
    p: a(href="mailto: momentumlol@outlook.com") Contact Email - momentumlol@outlook.com




