extends layout.jade

block page
  -var current_page = 'About'

block contents
  div.container.panel.panel-default
    img.media-object.pull-left(src="/static/images/square_logo.png" style="padding: 20px")
    div.container(style="padding: 20px")
      h2 What is Low Ranked Leagues?
      p LowRankedLeagues is a group that hosts leagues, and tournaments for teams that are low ranked, however any rank can have a league or tournament, including Global ELITE.
      p LowRankedLeagues is new and had it's first games in January 2016.
