extends layout.jade

block page
  -var current_page = 'About'

block contents
  div.container.panel.panel-default
    img.media-object.pull-left(src="/static/images/square_logo.png" style="padding: 20px")
    div.container(style="padding: 20px")
      h2 What is CSGOLeagues?
      p CSGOLeagues is exactly that Counter-Strike: Global Offensive leagues. We will start to have regular leagues with 2 Preseason Weeks, and atleast 6 Regular season weeks, and Play-offs. A new league will start one to two weeks after the previous league.
