extends layout.jade

block page
  -var current_page = 'About'

block contents
  div.container.panel.panel-default
    div.container(style="padding: 20px")
      h2 What is the Nex-Gen Football League?
      p  The Nex-Gen Football League is a 6-team football league ran within Madden NFL 08 with custom teams. If custom teams becomes possible on Madden NFL 19+ on PC, then we will transfer over. 
