extends layout.jade

block page
  -var current_page = 'Demos'

block contents
  div.container.panel.panel-default
    h1 Demos are listed here.
    p Past/Present demos will be posted here shortly.
    (href="https://goo.gl/UIc33Z") Aura Gaming vs TeamGreenPro ~ Week 7, Season 1
    (href="https://goo.gl/Zt96Ac") Team Eclipse vs Aura Gaming ~ Week 6, Season 1
    (href="https://goo.gl/85lt1H") TeamGreenPro vs RollemOver ~ Week 6, Season 1
    (href="https://goo.gl/t8pwG3") Swol Squad 6 vs 212Degrees ~ Week 6, Season 1
