extends layout.jade

block page
  -var current_page = 'Demos'

block contents
  div.container.panel.panel-default
    h1 How To Join Leagues
    p To join any league, your team must meet all the requirements, then you need to send an email to #[a(href="mailto: lowrankedleague@mail.com?subject=Joining LeagueSilverNova") LowRankedLeague@mail.com] with the subject being the leagues name for example the league I want to join is LeagueSilverNova, so the subject to my email would be "Joining LeagueSilverNova".
