div.container
  p.text-right If you have any questions, please send us an email at #[a(href="mailto: lowrankedleague@mail.com?subject=Support") LowRankedLeague@mail.com] using the subject "Support".

div.container
  p.text-left © 2016 by LowRankedLeagueEU. 
