-
  var pages = {
    'Home': '/',
    'Rules': '/rules',
    'About': '/about',
    'Join': '/join'
  }

  var teams = {
    'Team Pasta la Vista': '/teams/teampasta',   
  }

nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
  div.container
    //- Brand and mobile toggle
    div.navbar-header
      button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='.collapse')
        span.glyphicon.glyphicon-menu-hamburger
      a.navbar-brand(href="/")
        | Nex-Gen Football League
    //- Collectthe nav links, forms, and other content for toggling
    div.collapse.navbar-collapse
      ul.nav.navbar-nav
        each url, page in pages
          if page === "Teams"
            li.dropdown
              a.dropdown-toggle.disabled(href="/teams" data-toggle="dropdown" role="button") Teams
              ul.dropdown-menu
                each url, team in teams
                  li: a(href=url)= team
          else if current_page === page
            li.active: a(href=url)= page
          else
            li: a(href=url)= page
