-
  var pages = {
    'Home': '/',
    'Teams': '/', 
    'Standings': '/standings',
    'Free Agents': 'https://docs.google.com/spreadsheets/d/1yJGORP2AYJvyOL01We2fHE_UX4zFZmI52J_ls43MOm4/',
    'About': '/about',  
    'Rules': '/about',
    'Become a Coach': '/join',    
    'Enter the Draft': 'https://goo.gl/forms/ywyayWWmXJMlfJPI2'
  }

  var teams = { 
    'Alabama Rapids': 'https://docs.google.com/spreadsheets/d/15YaLGbp7d9YHkxYXpoKOH-8pH25l3qwiwUvvqGDx5RU/edit?usp=sharing', 
    'Sacramento Blades': 'https://docs.google.com/spreadsheets/d/1ecg4DB3pGMoRrG10s35y_wNKOXiKYuSq8QtDYNoIJ7Q/edit?usp=sharing', 
    'San Antonio Commandos': 'https://docs.google.com/spreadsheets/d/1EFuvvlE295Wk_RjdVu7zFX4ZKIbKH8d1UXhIdao15Lk/edit?usp=sharing',   
    'Las Vegas Devils': 'https://docs.google.com/spreadsheets/d/119WO84k4g7GONmod1jpmVRwmTjcdf9bn2GChuNyI1NI/edit?usp=sharing', 
    'Toronto Sharpshooters': 'https://docs.google.com/spreadsheets/d/1aUeWof2XGWUk_EjWhIrkxeR9vDO8gpuhYR4xcUlugzE/edit?usp=sharing', 
    'Miami Frenzy': 'https://docs.google.com/spreadsheets/d/1mVMVmfpxLLizW5tGuRG4bCMTM__7TtoQKQKUsKuoxyA/edit?usp=sharing', 
  }

nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
  div.container
    //- Brand and mobile toggle
    div.navbar-header
      button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='.collapse')
        span.glyphicon.glyphicon-menu-hamburger
      a.navbar-brand(href="/")
        | Nex-Gen Football League
    //- Collectthe nav links, forms, and other content for toggling
    div.collapse.navbar-collapse
      ul.nav.navbar-nav
        each url, page in pages
          if page === "Teams"
            li.dropdown
              a.dropdown-toggle.disabled(href="/teams" data-toggle="dropdown" role="button") Teams
              ul.dropdown-menu
                each url, team in teams
                  li: a(href=url)= team
          else if current_page === page
            li.active: a(href=url)= page
          else
            li: a(href=url)= page
