-
  var pages = {
    'Home': '/',
    'Join': '/join'
  }

  var teams = {
    'Team Pasta la Vista': '/teams/teampasta',   
    'TeamGreenPro': '/teams/teamgreenpro',     
    'RollemOver': '/teams/rollemover',
    'Aura Gaming': '/teams/auragaming', 
    'BloodXGaming': '/teams/bloodxgaming',    
    'TeamNotTalented': '/teams/teamnottalented'    
  }

nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
  div.container
    //- Brand and mobile toggle
    div.navbar-header
      button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='.collapse')
        span.glyphicon.glyphicon-menu-hamburger
      a.navbar-brand(href="/")
        | Low Ranked Leagues
    //- Collectthe nav links, forms, and other content for toggling
    div.collapse.navbar-collapse
      ul.nav.navbar-nav
        each url, page in pages
          if page === "Teams"
            li.dropdown
              a.dropdown-toggle.disabled(href="/teams" data-toggle="dropdown" role="button") Teams
              ul.dropdown-menu
                each url, team in teams
                  li: a(href=url)= team
          else if current_page === page
            li.active: a(href=url)= page
          else
            li: a(href=url)= page
