-
  var pages = {
    'Home': '/',
    'Teams': '/', 
    'Standings': '/standings',
    'Free Agents': 'https://docs.google.com/spreadsheets/d/1yJGORP2AYJvyOL01We2fHE_UX4zFZmI52J_ls43MOm4/',
    'About': '/about',  
    'Rules': '/about',
    'Become a Coach': '/join',    
    'Enter the Draft': 'https://goo.gl/forms/ywyayWWmXJMlfJPI2'
  }

  var teams = {
    'Baltimore Riders': 'https://docs.google.com/spreadsheets/d/1y6862-J-YPpHmLfdr97-X5FVLRjsw-hsn9cOnmOcbX0/edit?usp=sharing',   
    'Boston Glory': 'https://docs.google.com/spreadsheets/d/1ZuJYEnJbRCu2w_tui46s4U_f2NZJ2AP_xS2DVVTIv7Q/edit?usp=sharing', 
    'Calgary Frost': 'https://docs.google.com/spreadsheets/d/1YPb2qJPVDFckJOrmjps3HpXi_-7jDluaQBCz5ijzCRs/edit?usp=sharing',
    'Honolulu Wave': 'https://docs.google.com/spreadsheets/d/1m6I-it6K5xeHTUML3ClBW9HSN2QOaIexJMuBbl4_hMQ/edit?usp=sharing',   
    'Las Vegas Devils': 'https://docs.google.com/spreadsheets/d/1PhoFUaRpQ1xEm3pitUeHaB63r0jSexT4TCrT0qY3Pqo/edit?usp=sharing', 
    'Los Angeles Goblins': 'https://docs.google.com/spreadsheets/d/1eevravKGdejN9R5wS16GsGcii-yc0JGyaBygb-bh-_k/edit?usp=sharing', 
    'Louisville Firebirds': 'https://docs.google.com/spreadsheets/d/1mlXBPrlSeLYFHwYBMxs1dTtjtEoYTtTKpJ5aV_aMtqs/edit?usp=sharing',   
    'Mexico City Fire': 'https://docs.google.com/spreadsheets/d/14IkoT1W8M-_7uze2zNHy-Q6nCcVlquWQgdfirSub9VI/edit?usp=sharing', 
    'Miami Rage': 'https://docs.google.com/spreadsheets/d/1qb8ELrMLNIcoRBauBBMjPwY14fcfg3162z6FGcaXmh8/edit?usp=sharing', 
    'New York Kings': 'https://docs.google.com/spreadsheets/d/1kDgMAEmWExiG_NiMe-4Ovl01zXECcU1Gk1S13zePSNk/edit?usp=sharing',   
    'O.K.C. Horsepower': 'https://docs.google.com/spreadsheets/d/15YaLGbp7d9YHkxYXpoKOH-8pH25l3qwiwUvvqGDx5RU/edit?usp=sharing', 
    'Sacramento Blades': 'https://docs.google.com/spreadsheets/d/1ecg4DB3pGMoRrG10s35y_wNKOXiKYuSq8QtDYNoIJ7Q/edit?usp=sharing', 
    'San Antonio Rangers': 'https://docs.google.com/spreadsheets/d/1EFuvvlE295Wk_RjdVu7zFX4ZKIbKH8d1UXhIdao15Lk/edit?usp=sharing',   
    'San Jose Bolts': 'https://docs.google.com/spreadsheets/d/119WO84k4g7GONmod1jpmVRwmTjcdf9bn2GChuNyI1NI/edit?usp=sharing', 
    'Toronto Tigers': 'https://docs.google.com/spreadsheets/d/1aUeWof2XGWUk_EjWhIrkxeR9vDO8gpuhYR4xcUlugzE/edit?usp=sharing', 
    'Washington Hitmen': 'https://docs.google.com/spreadsheets/d/1mVMVmfpxLLizW5tGuRG4bCMTM__7TtoQKQKUsKuoxyA/edit?usp=sharing', 
  }

nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
  div.container
    //- Brand and mobile toggle
    div.navbar-header
      button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='.collapse')
        span.glyphicon.glyphicon-menu-hamburger
      a.navbar-brand(href="/")
        | Nex-Gen Football League
    //- Collectthe nav links, forms, and other content for toggling
    div.collapse.navbar-collapse
      ul.nav.navbar-nav
        each url, page in pages
          if page === "Teams"
            li.dropdown
              a.dropdown-toggle.disabled(href="/teams" data-toggle="dropdown" role="button") Teams
              ul.dropdown-menu
                each url, team in teams
                  li: a(href=url)= team
          else if current_page === page
            li.active: a(href=url)= page
          else
            li: a(href=url)= page
