extends layout.jade

block page
  -var current_page = 'Home'

block title
  title Low Ranked Leagues

block contents
  div.container.panel.panel-default
    h1 Latest News
    p Two more teams have dropped from the league. TechnicCS and 4subs and David.
      TechnicCS: None of my players can get on when needed. So I we can't play anymore.
      4Subs: My team isn't playing in your league anymore.
      With this being said, I would like to know who still wants to play in the league. I will work with all of you to create some rules, and such to make things more fair, and easier for you, and your teams. 
      There will only be 5 teams. I have come up with another schedule to fit that number. - 1/24/16

  div.container.panel.panel-default
    h1 Results
    h2 COMPLETE RESET!
