extends layout.jade

block page
  -var current_page = 'Home'

block title
  title NexGen Football League

block contents
  div.container.panel.panel-default
    h1 Latest News
    img.col-sm-2(src="/static/images/NexGenLogo.png")
    p The Season opener is coming up Monday November 25th, as the San Antonio Commandos travel to Miami to face the Frenzy. 

  div.container.panel.panel-default
    h1 Results
    p No results yet.
