extends layout.jade

block page
  -var current_page = 'Home'

block title
  title CSGOLeagues

block contents
  div.container.panel.panel-default
    h1 Latest News
    p Announcing our First Season!

  div.container.panel.panel-default
    h1 Results
    p No results yet.
