extends layout.jade

block page
  -var current_page = 'Home'

block title
  title NexGen Football League

block contents
  div.container.panel.panel-default
    h1 Latest News
    img.col-sm-2(src="/static/images/NexGenLogo.png")
    p Production for our first season has begun. First Pre-Season game is expected to be played on February 16th, 2019. The time is still unknown.

  div.container.panel.panel-default
    h1 Results
    p No results yet.
