extends layout.jade

block page
  -var current_page = 'Home'

block title
  title NexGen Football League

block contents
  div.container.panel.panel-default
    h1 Latest News
    img.col-sm-2(src="/static/images/NexGenLogo.png")
    p Saturday, Feburary 16th, 2019 at 8:00pm ET. The Honolulu Wave will travel to Baltimore to take on the Riders in the PrimeTime season opener.

  div.container.panel.panel-default
    h1 Results
    p No results yet.
