extends layout.jade

block page
  -var current_page = 'Home'

block title
  title NexGen Football League

block contents
  div.container.panel.panel-default
    h1 Latest News
    a.col-sm-2.matchlogo.NexGenLogo
    p Production for our first season has begun. First Pre-Season game is expected to be played on February 15th, 2019. Time is still unknown.

  div.container.panel.panel-default
    h1 Results
    p No results yet.
