extends layout.jade

block page
  -var current_page = 'Home'

block title
  title Low Ranked Leagues

block contents
  div.container.panel.panel-default
    h1 Latest News
    p WEEK 6 DEMOS ARE NOW AVAILABLE FOR DOWNLOAD!

  div.container.panel.panel-default
    h1 Results
    p Aura Gaming defeated TeamGreenPro on Overpass (16-8)
    p Team Eclipse won by forfeit
    p Swol Squad 6 won by forfeit
