extends layout.jade

block page
  -var current_page = 'Home'

block title
  title Low Ranked Leagues

block contents
  div.container.panel.panel-default
    h1 Latest News
    p WEEK 6 DEMOS ARE NOW AVAILABLE FOR DOWNLOAD!

  div.container.panel.panel-default
    h1 Results
    p TeamGreenPro defeated RollemOver on Cache (16-3)
    p Aura Gaming defeated Team Eclipse on Mirage (16-11)
    p Swol Squad 6 defeated 212Degrees on Cache (16-0)
