extends layout.jade

block page
  -var current_page = 'Matches'

block contents
  ul.nav.nav-tabs.nav-justified
    li: a(href="#preweek_1") Preseason Week 1
    li: a(href="#preweek_2") Preseason Week 2
    li: a(href="#preweek_3") Preseason Week 3
    li: a(href="#preweek_4") Preseason Week 4
    li: a(href="#week_1") Week 1
    li: a(href="#week_2") Week 2
    li: a(href="#week_3") Week 3
    li: a(href="#week_4") Week 4
    li: a(href="#week_5") Week 5
    li: a(href="#week_6") Week 6
    li: a(href="#week_7") Week 7
    li: a(href="#week_8") Week 8
    li: a(href="#week_9") Week 9
    li: a(href="#week_10") Week 10
    li: a(href="#week_11") Week 11
    li: a(href="#week_12") Week 12
    li: a(href="#week_13") Week 13
    li: a(href="#week_14") Week 14
    li: a(href="#week_15") Week 15
    li: a(href="#week_16") Week 16
    li: a(href="#week_17") Week 17
  div.container.panel.panel-default.text-center

    div#preweek_1
      div.row
        h2.col-sm-12 Preseason Week 1
          small.col-sm-12 06/04 8pm PST Saturday
      div.row
        div.col-sm-3
        img.col-sm-2
        img.col-sm-2(src="/static/images/season.png")
        img.col-sm-2
        div.col-sm-3
      div.row
        div.col-sm-4
        h3.col-sm-1 Home
        div.col-sm-2
        h3.col-sm-1 Away
        div.col-sm-4
      div.row
      div.row
        h3.col-sm-4.text-right #[a(href="/teams/rollemover") RollemOver]
        h3.col-sm-1.text-danger 12
        a.col-sm-2.matchlogo.santorini
        h3.col-sm-1.text-success 16
        h3.col-sm-4.text-left #[a(href="/teams/teamnottalented") NotTalented]
      div.row
        h3.col-sm-4.text-right #[a(href="/teams/teampasta") Team Pasta]
        h3.col-sm-1.text-success W
        a.col-sm-2.matchlogo.season
        h3.col-sm-1.text-danger L
        h3.col-sm-4.text-left #[a(href="/teams/bloodxgaming") BloodXGaming]
      div.row
        h3.col-sm-4.text-right #[a(href="/teams/auragaming") Aura Gaming]
        h3.col-sm-1.text-danger L
        a.col-sm-2.matchlogo.season
        h3.col-sm-1.text-success W
        h3.col-sm-4.text-left #[a(href="/teams/teamgreenpro") TeamGreenPro]
        
    div#preweek_2
      div.row
        h2.col-sm-12 Preseason Week 2
          small.col-sm-12 06/11 8pm PST Saturday
      div.row
        div.col-sm-3
        img.col-sm-2
        img.col-sm-2(src="/static/images/santorini.png")
        img.col-sm-2
        div.col-sm-3
      div.row
        div.col-sm-4
        h3.col-sm-1 Home
        div.col-sm-2
        h3.col-sm-1 Away
        div.col-sm-4
      div.row
        h3.col-sm-4.text-right #[a(href="/teams/bloodxgaming") BloodXGamimg]
        h3.col-sm-1.text-danger L
        a.col-sm-2.matchlogo.santorini
        h3.col-sm-1.text-success W
        h3.col-sm-4.text-left #[a(href="/teams/rollemover") RollemOver]
      div.row
        h3.col-sm-4.text-right #[a(href="/teams/teamnottalented") NotTalented]
        h3.col-sm-1.text-success W
        a.col-sm-2.matchlogo.santorini
        h3.col-sm-1.text-danger L
        h3.col-sm-4.text-left #[a(href="/teams/teamgreenpro") TeamGreenPro]
      div.row
        h3.col-sm-4.text-right #[a(href="/teams/bloodxgaming") Team Pasta]
        h3.col-sm-1.text-danger L
        a.col-sm-2.matchlogo.santorini
        h3.col-sm-1.text-success W
        h3.col-sm-4.text-left #[a(href="/teams/rollemover") Aura Gaming]
        
    div#preweek_3
      div.row
        h2.col-sm-12 Preseason Week 3
          small.col-sm-12 06/04 8pm PST Saturday
      div.row
        div.col-sm-3
        img.col-sm-2
        img.col-sm-2(src="/static/images/season.png")
        img.col-sm-2
        div.col-sm-3
      div.row
        div.col-sm-4
        h3.col-sm-1 Home
        div.col-sm-2
        h3.col-sm-1 Away
        div.col-sm-4
      div.row
      div.row
        h3.col-sm-4.text-right #[a(href="/teams/rollemover") RollemOver]
        h3.col-sm-1.text-danger 12
        a.col-sm-2.matchlogo.santorini
        h3.col-sm-1.text-success 16
        h3.col-sm-4.text-left #[a(href="/teams/teamnottalented") NotTalented]
      div.row
        h3.col-sm-4.text-right #[a(href="/teams/teampasta") Team Pasta]
        h3.col-sm-1.text-success W
        a.col-sm-2.matchlogo.season
        h3.col-sm-1.text-danger L
        h3.col-sm-4.text-left #[a(href="/teams/bloodxgaming") BloodXGaming]
      div.row
        h3.col-sm-4.text-right #[a(href="/teams/auragaming") Aura Gaming]
        h3.col-sm-1.text-danger L
        a.col-sm-2.matchlogo.season
        h3.col-sm-1.text-success W
        h3.col-sm-4.text-left #[a(href="/teams/teamgreenpro") TeamGreenPro]
        
    div#preweek_4
      div.row
        h2.col-sm-12 Preseason Week 4
          small.col-sm-12 06/04 8pm PST Saturday
      div.row
        div.col-sm-3
        img.col-sm-2
        img.col-sm-2(src="/static/images/season.png")
        img.col-sm-2
        div.col-sm-3
      div.row
        div.col-sm-4
        h3.col-sm-1 Home
        div.col-sm-2
        h3.col-sm-1 Away
        div.col-sm-4
      div.row
      div.row
        h3.col-sm-4.text-right #[a(href="/teams/rollemover") RollemOver]
        h3.col-sm-1.text-danger 12
        a.col-sm-2.matchlogo.santorini
        h3.col-sm-1.text-success 16
        h3.col-sm-4.text-left #[a(href="/teams/teamnottalented") NotTalented]
      div.row
        h3.col-sm-4.text-right #[a(href="/teams/teampasta") Team Pasta]
        h3.col-sm-1.text-success W
        a.col-sm-2.matchlogo.season
        h3.col-sm-1.text-danger L
        h3.col-sm-4.text-left #[a(href="/teams/bloodxgaming") BloodXGaming]
      div.row
        h3.col-sm-4.text-right #[a(href="/teams/auragaming") Aura Gaming]
        h3.col-sm-1.text-danger L
        a.col-sm-2.matchlogo.season
        h3.col-sm-1.text-success W
        h3.col-sm-4.text-left #[a(href="/teams/teamgreenpro") TeamGreenPro]    
        
    div#week_1
      div.row
        h2.col-sm-12 Week 1
          small.col-sm-12 06/18 8pm PST Saturday
      div.row
        div.col-sm-3
        img.col-sm-2(src="/static/images/dust2.png")
        img.col-sm-2(src="/static/images/train.png")
        img.col-sm-2(src="/static/images/inferno.png")
        div.col-sm-3
      div.row
        div.col-sm-4
        h3.col-sm-1 Home
        div.col-sm-2
        h3.col-sm-1 Away
        div.col-sm-4
      div.row
        h3.col-sm-5.text-right #[a(href="/teams/rollemover") RollemOver]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/teamgreenpro") TeamGreenPro]
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/bloodxgaming") BloodXGaming]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left #[a(href="/teams/auragaming") Aura Gaming]
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/teamnottalented") NotTalented]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/teampasta") BYE]
        
    div#week_2
      div.row
        h2.col-sm-12 Week 2
          small.col-sm-12 06/25 8pm PST Saturday
      div.row
        div.col-sm-3
        img.col-sm-2(src="/static/images/cache.png")
        img.col-sm-2(src="/static/images/cobble.png")
        img.col-sm-2(src="/static/images/nuke.png")
        div.col-sm-3
      div.row
        div.col-sm-4
        h3.col-sm-1 Home
        div.col-sm-2
        h3.col-sm-1 Away
        div.col-sm-4
      div.row
        h3.col-sm-5.text-right #[a(href="/teams/auragaming") Aura Gaming]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/rollemover") RollemOver]
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/bloodxgaming") BloodXGaming]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/teamnottalented") NotTalented]
      div.row
      
        h2.col-sm-12     
          small.col-sm-12 06/26 8pm PST Sunday
      div.row
        div.col-sm-3
        img.col-sm-2
        img.col-sm-2(src="/static/images/dust2.png")
        img.col-sm-2
        div.col-sm-3
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/teamgreenpro") TeamGreenPro]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/teamnottalented") NotTalented]        
      div.row
            
    div#week_3
      div.row
        h2.col-sm-12 Week 3
          small.col-sm-12 07/02 8pm PST Saturday
      div.row
        div.col-sm-3
        img.col-sm-2(src="/static/images/overpass.png")
        img.col-sm-2(src="/static/images/mirage.png")
        img.col-sm-2(src="/static/images/inferno.png")
        div.col-sm-3
      div.row
        div.col-sm-4
        h3.col-sm-1 Home
        div.col-sm-2
        h3.col-sm-1 Away
        div.col-sm-4
      div.row
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/fuelunitsesports") Aura Gaming]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left #[a(href="/teams/team_eclipse") NotTalented]
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/auragaming") TeamGreenPro]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/4subs_and_david") BloodXGaming]
        
        h2.col-sm-12     
          small.col-sm-12 07/03 8pm PST Sunday
      div.row
        div.col-sm-3
        img.col-sm-2
        img.col-sm-2(src="/static/images/cache.png")
        img.col-sm-2
        div.col-sm-3
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/rollemover") RollemOver]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/bloodxgaming") BloodXGaming]        
      div.row        
        
    div#week_4
      div.row
        h2.col-sm-12 Week 4
          small.col-sm-12 07/09 8pm PST Saturday 
      div.row
        div.col-sm-3
        img.col-sm-2(src="/static/images/dust2.png")
        img.col-sm-2(src="/static/images/train.png")
        img.col-sm-2(src="/static/images/cobble.png")
        div.col-sm-3
      div.row
        div.col-sm-4
        h3.col-sm-1 Home
        div.col-sm-2
        h3.col-sm-1 Away
        div.col-sm-4
      div.row
        h3.col-sm-5.text-right #[a(href="/teams/teamgreenpro") NotTalented]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/swol_squad_6") RollemOver]
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/auragaming") Aura Gaming]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/4subs_and_david") TeamGreenPro]
        
        h2.col-sm-12     
          small.col-sm-12 07/10 8pm PST Sunday
      div.row
        div.col-sm-3
        img.col-sm-2
        img.col-sm-2(src="/static/images/overpass.png")
        img.col-sm-2
        div.col-sm-3
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/auragaming") Aura Gaming]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/bloodxgaming") BloodXGaming]        
      div.row
      
    div#week_5
      div.row
        h2.col-sm-12 Week 5
          small.col-sm-12 07/16 8pm PST Saturday
      div.row
        div.col-sm-3
        img.col-sm-2(src="/static/images/mirage.png")
        img.col-sm-2(src="/static/images/cache.png")
        img.col-sm-2(src="/static/images/nuke.png")
        div.col-sm-3
      div.row
        div.col-sm-4
        h3.col-sm-1 Home
        div.col-sm-2
        h3.col-sm-1 Away
        div.col-sm-4
      div.row
        h3.col-sm-5.text-right #[a(href="/teams/teamgreenpro") RollemOver]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/swol_squad_6") BloodXGaming]
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/fuelunitsesports") NotTalented]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left #[a(href="/teams/team_eclipse") TeamGreenPro]
        
        h2.col-sm-12     
          small.col-sm-12 07/17 8pm PST Sunday
      div.row
        div.col-sm-3
        img.col-sm-2
        img.col-sm-2(src="/static/images/dust2.png")
        img.col-sm-2
        div.col-sm-3
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/teamnottalented") NotTalented]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/auragaming") Aura Gaming]        
      div.row        
        
    div#week_6
      div.row
        h2.col-sm-12 Week 6
          small.col-sm-12 07/23 8pm PST Saturday 
      div.row
        div.col-sm-3
        img.col-sm-2(src="/static/images/overpass.png")
        img.col-sm-2(src="/static/images/inferno.png")
        img.col-sm-2(src="/static/images/dust2.png")
        div.col-sm-3
      div.row
        div.col-sm-4
        h3.col-sm-1 Home
        div.col-sm-2
        h3.col-sm-1 Away
        div.col-sm-4
      div.row
        h3.col-sm-5.text-right #[a(href="/teams/teamgreenpro") TeamGreenPro]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/swol_squad_6") RollemOver]
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/fuelunitsesports") BloodXGaming]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left #[a(href="/teams/team_eclipse") Aura Gaming]
        
        h2.col-sm-12     
          small.col-sm-12 07/24 8pm PST Sunday
      div.row
        div.col-sm-3
        img.col-sm-2
        img.col-sm-2(src="/static/images/mirage.png")
        img.col-sm-2
        div.col-sm-3
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/teamgreenpro") TeamGreenPro]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/teamnottalented") NotTalented]        
      div.row        
        
    div#week_7
      div.row
        h2.col-sm-12 Week 7
          small.col-sm-12 07/30 8pm PST Saturday
      div.row
        div.col-sm-3
        img.col-sm-2(src="/static/images/cobble.png")
        img.col-sm-2(src="/static/images/overpass.png")
        img.col-sm-2(src="/static/images/nuke.png")
        div.col-sm-3
      div.row
        div.col-sm-4
        h3.col-sm-1 Home
        div.col-sm-2
        h3.col-sm-1 Away
        div.col-sm-4
      div.row
        h3.col-sm-5.text-right #[a(href="/teams/teamgreenpro") RollemOver]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/swol_squad_6") Aura Gaming]
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/auragaming") TeamGreenPro]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/4subs_and_david") NotTalented]
        
        h2.col-sm-12     
          small.col-sm-12 07/31 8pm PST Sunday
      div.row
        div.col-sm-3
        img.col-sm-2
        img.col-sm-2(src="/static/images/overpass.png")
        img.col-sm-2
        div.col-sm-3
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/teamgreenpro") RollemOver]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/teamnottalented") BloodXGaming]        
      div.row        
        
    div#week_8
      div.row
        h2.col-sm-12 Week 8
          small.col-sm-12 08/06 8pm PST Saturday
      div.row
        div.col-sm-3
        img.col-sm-2(src="/static/images/mirage.png")
        img.col-sm-2(src="/static/images/cache.png")
        img.col-sm-2(src="/static/images/train.png")
        div.col-sm-3
      div.row
        div.col-sm-4
        h3.col-sm-1 Home
        div.col-sm-2
        h3.col-sm-1 Away
        div.col-sm-4
      div.row
        h3.col-sm-5.text-right #[a(href="/teams/teamgreenpro") NotTalented]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/swol_squad_6") RollemOver]
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/fuelunitsesports") Aura Gaming]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left #[a(href="/teams/team_eclipse") TeamGreenPro]
        
        h2.col-sm-12     
          small.col-sm-12 08/07 8pm PST Sunday
      div.row
        div.col-sm-3
        img.col-sm-2
        img.col-sm-2(src="/static/images/cobble.png")
        img.col-sm-2
        div.col-sm-3
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/teamgreenpro") #1 Team]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/teamnottalented") BloodXGaming]        
      div.row        
     
    div#week_9
      div.row
        h2.col-sm-12 Week 9
          small.col-sm-12 06/18 8pm PST Saturday
      div.row
        div.col-sm-3
        img.col-sm-2(src="/static/images/dust2.png")
        img.col-sm-2(src="/static/images/train.png")
        img.col-sm-2(src="/static/images/inferno.png")
        div.col-sm-3
      div.row
        div.col-sm-4
        h3.col-sm-1 Home
        div.col-sm-2
        h3.col-sm-1 Away
        div.col-sm-4
      div.row
        h3.col-sm-5.text-right #[a(href="/teams/rollemover") RollemOver]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/teamgreenpro") TeamGreenPro]
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/bloodxgaming") BloodXGaming]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left #[a(href="/teams/auragaming") Aura Gaming]
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/teamnottalented") NotTalented]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/teampasta") BYE]
        
    div#week_10
      div.row
        h2.col-sm-12 Week 10
          small.col-sm-12 06/25 8pm PST Saturday
      div.row
        div.col-sm-3
        img.col-sm-2(src="/static/images/cache.png")
        img.col-sm-2(src="/static/images/cobble.png")
        img.col-sm-2(src="/static/images/nuke.png")
        div.col-sm-3
      div.row
        div.col-sm-4
        h3.col-sm-1 Home
        div.col-sm-2
        h3.col-sm-1 Away
        div.col-sm-4
      div.row
        h3.col-sm-5.text-right #[a(href="/teams/auragaming") Aura Gaming]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/rollemover") RollemOver]
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/bloodxgaming") BloodXGaming]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/teamnottalented") NotTalented]
      div.row
      
        h2.col-sm-12     
          small.col-sm-12 06/26 8pm PST Sunday
      div.row
        div.col-sm-3
        img.col-sm-2
        img.col-sm-2(src="/static/images/dust2.png")
        img.col-sm-2
        div.col-sm-3
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/teamgreenpro") TeamGreenPro]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/teamnottalented") NotTalented]        
      div.row
            
    div#week_11
      div.row
        h2.col-sm-12 Week 11
          small.col-sm-12 07/02 8pm PST Saturday
      div.row
        div.col-sm-3
        img.col-sm-2(src="/static/images/overpass.png")
        img.col-sm-2(src="/static/images/mirage.png")
        img.col-sm-2(src="/static/images/inferno.png")
        div.col-sm-3
      div.row
        div.col-sm-4
        h3.col-sm-1 Home
        div.col-sm-2
        h3.col-sm-1 Away
        div.col-sm-4
      div.row
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/fuelunitsesports") Aura Gaming]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left #[a(href="/teams/team_eclipse") NotTalented]
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/auragaming") TeamGreenPro]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/4subs_and_david") BloodXGaming]
        
        h2.col-sm-12     
          small.col-sm-12 07/03 8pm PST Sunday
      div.row
        div.col-sm-3
        img.col-sm-2
        img.col-sm-2(src="/static/images/cache.png")
        img.col-sm-2
        div.col-sm-3
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/rollemover") RollemOver]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/bloodxgaming") BloodXGaming]        
      div.row        
        
    div#week_12
      div.row
        h2.col-sm-12 Week 12
          small.col-sm-12 07/09 8pm PST Saturday 
      div.row
        div.col-sm-3
        img.col-sm-2(src="/static/images/dust2.png")
        img.col-sm-2(src="/static/images/train.png")
        img.col-sm-2(src="/static/images/cobble.png")
        div.col-sm-3
      div.row
        div.col-sm-4
        h3.col-sm-1 Home
        div.col-sm-2
        h3.col-sm-1 Away
        div.col-sm-4
      div.row
        h3.col-sm-5.text-right #[a(href="/teams/teamgreenpro") NotTalented]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/swol_squad_6") RollemOver]
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/auragaming") Aura Gaming]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/4subs_and_david") TeamGreenPro]
        
        h2.col-sm-12     
          small.col-sm-12 07/10 8pm PST Sunday
      div.row
        div.col-sm-3
        img.col-sm-2
        img.col-sm-2(src="/static/images/overpass.png")
        img.col-sm-2
        div.col-sm-3
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/auragaming") Aura Gaming]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/bloodxgaming") BloodXGaming]        
      div.row
      
    div#week_13
      div.row
        h2.col-sm-12 Week 13
          small.col-sm-12 07/16 8pm PST Saturday
      div.row
        div.col-sm-3
        img.col-sm-2(src="/static/images/mirage.png")
        img.col-sm-2(src="/static/images/cache.png")
        img.col-sm-2(src="/static/images/nuke.png")
        div.col-sm-3
      div.row
        div.col-sm-4
        h3.col-sm-1 Home
        div.col-sm-2
        h3.col-sm-1 Away
        div.col-sm-4
      div.row
        h3.col-sm-5.text-right #[a(href="/teams/teamgreenpro") RollemOver]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/swol_squad_6") BloodXGaming]
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/fuelunitsesports") NotTalented]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left #[a(href="/teams/team_eclipse") TeamGreenPro]
        
        h2.col-sm-12     
          small.col-sm-12 07/17 8pm PST Sunday
      div.row
        div.col-sm-3
        img.col-sm-2
        img.col-sm-2(src="/static/images/dust2.png")
        img.col-sm-2
        div.col-sm-3
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/teamnottalented") NotTalented]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/auragaming") Aura Gaming]        
      div.row        
        
    div#week_14
      div.row
        h2.col-sm-12 Week 14
          small.col-sm-12 07/23 8pm PST Saturday 
      div.row
        div.col-sm-3
        img.col-sm-2(src="/static/images/overpass.png")
        img.col-sm-2(src="/static/images/inferno.png")
        img.col-sm-2(src="/static/images/dust2.png")
        div.col-sm-3
      div.row
        div.col-sm-4
        h3.col-sm-1 Home
        div.col-sm-2
        h3.col-sm-1 Away
        div.col-sm-4
      div.row
        h3.col-sm-5.text-right #[a(href="/teams/teamgreenpro") TeamGreenPro]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/swol_squad_6") RollemOver]
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/fuelunitsesports") BloodXGaming]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left #[a(href="/teams/team_eclipse") Aura Gaming]
        
        h2.col-sm-12     
          small.col-sm-12 07/24 8pm PST Sunday
      div.row
        div.col-sm-3
        img.col-sm-2
        img.col-sm-2(src="/static/images/mirage.png")
        img.col-sm-2
        div.col-sm-3
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/teamgreenpro") TeamGreenPro]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/teamnottalented") NotTalented]        
      div.row        
        
    div#week_15
      div.row
        h2.col-sm-12 Week 15
          small.col-sm-12 07/30 8pm PST Saturday
      div.row
        div.col-sm-3
        img.col-sm-2(src="/static/images/cobble.png")
        img.col-sm-2(src="/static/images/overpass.png")
        img.col-sm-2(src="/static/images/nuke.png")
        div.col-sm-3
      div.row
        div.col-sm-4
        h3.col-sm-1 Home
        div.col-sm-2
        h3.col-sm-1 Away
        div.col-sm-4
      div.row
        h3.col-sm-5.text-right #[a(href="/teams/teamgreenpro") RollemOver]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/swol_squad_6") Aura Gaming]
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/auragaming") TeamGreenPro]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/4subs_and_david") NotTalented]
        
        h2.col-sm-12     
          small.col-sm-12 07/31 8pm PST Sunday
      div.row
        div.col-sm-3
        img.col-sm-2
        img.col-sm-2(src="/static/images/overpass.png")
        img.col-sm-2
        div.col-sm-3
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/teamgreenpro") RollemOver]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/teamnottalented") BloodXGaming]        
      div.row        
        
    div#week_16
      div.row
        h2.col-sm-12 Week 16
          small.col-sm-12 08/06 8pm PST Saturday
      div.row
        div.col-sm-3
        img.col-sm-2(src="/static/images/mirage.png")
        img.col-sm-2(src="/static/images/cache.png")
        img.col-sm-2(src="/static/images/train.png")
        div.col-sm-3
      div.row
        div.col-sm-4
        h3.col-sm-1 Home
        div.col-sm-2
        h3.col-sm-1 Away
        div.col-sm-4
      div.row
        h3.col-sm-5.text-right #[a(href="/teams/teamgreenpro") NotTalented]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/swol_squad_6") RollemOver]
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/fuelunitsesports") Aura Gaming]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left #[a(href="/teams/team_eclipse") TeamGreenPro]
        
        h2.col-sm-12     
          small.col-sm-12 08/07 8pm PST Sunday
      div.row
        div.col-sm-3
        img.col-sm-2
        img.col-sm-2(src="/static/images/cobble.png")
        img.col-sm-2
        div.col-sm-3
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/teamgreenpro") #1 Team]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/teamnottalented") BloodXGaming]        
      div.row    
      
    div#week_17
      div.row
        h2.col-sm-12 Week 17
          small.col-sm-12 08/06 8pm PST Saturday
      div.row
        div.col-sm-3
        img.col-sm-2(src="/static/images/mirage.png")
        img.col-sm-2(src="/static/images/cache.png")
        img.col-sm-2(src="/static/images/train.png")
        div.col-sm-3
      div.row
        div.col-sm-4
        h3.col-sm-1 Home
        div.col-sm-2
        h3.col-sm-1 Away
        div.col-sm-4
      div.row
        h3.col-sm-5.text-right #[a(href="/teams/teamgreenpro") NotTalented]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/swol_squad_6") RollemOver]
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/fuelunitsesports") Aura Gaming]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left #[a(href="/teams/team_eclipse") TeamGreenPro]
        
        h2.col-sm-12     
          small.col-sm-12 08/07 8pm PST Sunday
      div.row
        div.col-sm-3
        img.col-sm-2
        img.col-sm-2(src="/static/images/cobble.png")
        img.col-sm-2
        div.col-sm-3
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/teamgreenpro") #1 Team]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/teamnottalented") BloodXGaming]        
      div.row          

    hr
    div#playoffs
      h2 Playoffs
          small.col-sm-12 08/20 8pm PST Saturday      
      div.row
        div.col-sm-3
        img.col-sm-2(src="/static/images/cobble.png")
        img.col-sm-2(src="/static/images/overpass.png")
        img.col-sm-2(src="/static/images/train.png")
        img.col-sm-2(src="/static/images/cache.png")
        div.col-sm-3
      div.row
      div.row
        div.col-sm-3
        img.col-sm-2(src="/static/images/mirage.png")
        img.col-sm-2(src="/static/images/dust2.png")
        img.col-sm-2(src="/static/images/inferno.png")
        img.col-sm-2(src="/static/images/nuke.png")        
        div.col-sm-3
      div.row
      
    hr
    div#championships
      h2 Championships
        h3 Championship contenders will be announced at the end of the play-offs!
