extends layout.jade

block page
  -var current_page = 'Matches'

block contents
  ul.nav.nav-tabs.nav-justified
    li: a(href="#week_1") Week 1
    li: a(href="#week_2") Week 2
    li: a(href="#week_3") Week 3
    li: a(href="#week_4") Week 4
    li: a(href="#week_5") Week 5
    li: a(href="#week_6") Week 6
    li: a(href="#week_7") Week 7
  div.container.panel.panel-default.text-center
    div#week_1
      div.row
        h2.col-sm-12 Week 1
          small.col-sm-12 02/13 8pm PST Saturday
      div.row
        div.col-sm-3
        img.col-sm-2(src="/static/images/dust2.png")
        img.col-sm-2(src="/static/images/mirage.png")
        img.col-sm-2(src="/static/images/inferno.png")
        div.col-sm-3
      div.row
        div.col-sm-4
        h3.col-sm-1 Home
        div.col-sm-2
        h3.col-sm-1 Away
        div.col-sm-4
      div.row
        h3.col-sm-4.text-right #[a(href="/teams/teamgreenpro") TeamGreenPro]
        h3.col-sm-1.text-success 16
        a.col-sm-2.matchlogo.mirage(href="https://goo.gl/hQXwt4")
        h3.col-sm-1.text-danger 2
        h3.col-sm-4.text-left #[a(href="/teams/rollemover") RollemOver]
      div.row
        h3.col-sm-4.text-right #[a(href="/teams/team_eclipse") Team Eclipse]
        h3.col-sm-1.text-success 16
        a.col-sm-2.matchlogo.mirage(href="https://goo.gl/gaAh6E")
        h3.col-sm-1.text-danger 10
        h3.col-sm-4.text-left #[a(href="/teams/auragaming") Aura Gaming]
      div.row
        h3.col-sm-4.text-right #[a(href="/teams/212degrees") 212Degrees]
        h3.col-sm-1.text-danger 1
        a.col-sm-2.matchlogo.mirage(href="https://goo.gl/2FKuRc")
        h3.col-sm-1.text-success 16
        h3.col-sm-4.text-left #[a(href="/teams/swol_squad_6") Swol Squad 6]
    
    div#week_2
      div.row
        h2.col-sm-12 Week 2
          small.col-sm-12 02/20 8pm PST Saturday
      div.row
        div.col-sm-3
        img.col-sm-2(src="/static/images/cache.png")
        img.col-sm-2(src="/static/images/cobble.png")
        img.col-sm-2(src="/static/images/overpass.png")
        div.col-sm-3
      div.row
        div.col-sm-4
        h3.col-sm-1 Home
        div.col-sm-2
        h3.col-sm-1 Away
        div.col-sm-4
      div.row
        h3.col-sm-4.text-right #[a(href="/teams/auragaming") Aura Gaming]
        h3.col-sm-1.text-success 16
        a.col-sm-2.matchlogo.cache(href="https://goo.gl/jfgnwK")
        h3.col-sm-1.text-danger 4
        h3.col-sm-4.text-left #[a(href="/teams/teamgreenpro") TeamGreenPro]
      div.row
        h3.col-sm-4.text-right #[a(href="/teams/rollemover") RollemOver]
        h3.col-sm-1.text-danger 1
        a.col-sm-2.matchlogo.cache(href="https://goo.gl/XDxxDp")
        h3.col-sm-1.text-success 16
        h3.col-sm-4.text-left #[a(href="/teams/swol_squad_6") Swol Squad 6]
      div.row
        h3.col-sm-4.text-right #[a(href="/teams/team_eclipse") Team Eclipse]
        h3.col-sm-1.text-success 16
        a.col-sm-2.matchlogo.cache(href="https://goo.gl/m1OA0X")
        h3.col-sm-1.text-danger 3
        h3.col-sm-4.text-left #[a(href="/teams/212degrees") 212Degrees]
    
    div#week_3
      div.row
        h2.col-sm-12 Week 3
          small.col-sm-12 02/27 8pm PST Saturday
      div.row
        div.col-sm-3
        img.col-sm-2(src="/static/images/train.png")
        img.col-sm-2(src="/static/images/dust2.png")
        img.col-sm-2(src="/static/images/cobble.png")
        div.col-sm-3
      div.row
        div.col-sm-4
        h3.col-sm-1 Home
        div.col-sm-2
        h3.col-sm-1 Away
        div.col-sm-4
      div.row
      div.row
        h3.col-sm-4.text-right #[a(href="/teams/teamgreenpro") TeamGreenPro]
        h3.col-sm-1.text-danger 2
        a.col-sm-2.matchlogo.train(href="https://goo.gl/DG6Rqu")
        h3.col-sm-1.text-success 16
        h3.col-sm-4.text-left #[a(href="/teams/rollemover") Swol Squad 6]
      div.row
        h3.col-sm-4.text-right #[a(href="/teams/auragaming") Aura Gaming]
        h3.col-sm-1.text-success 16
        a.col-sm-2.matchlogo.dust2(href="https://goo.gl/CglLIQ")
        h3.col-sm-1.text-danger 14
        h3.col-sm-4.text-left #[a(href="/teams/212degrees") 212Degrees]
      div.row
        h3.col-sm-4.text-right #[a(href="/teams/teamgreenpro") RollemOver]
        h3.col-sm-1.text-danger 3
        a.col-sm-2.matchlogo.dust2(href="https://goo.gl/2gnl1O")
        h3.col-sm-1.text-success 16
        h3.col-sm-4.text-left #[a(href="/teams/rollemover") Team Eclipse]

    div#week_4
      div.row
        h2.col-sm-12 Week 4
          small.col-sm-12 03/05 8pm PST Saturday 
      div.row
        div.col-sm-3
        img.col-sm-2(src="/static/images/inferno.png")
        img.col-sm-2(src="/static/images/train.png")
        img.col-sm-2(src="/static/images/overpass.png")
        div.col-sm-3
      div.row
        div.col-sm-4
        h3.col-sm-1 Home
        div.col-sm-2
        h3.col-sm-1 Away
        div.col-sm-4
      div.row
        h3.col-sm-4.text-right #[a(href="/teams/212degrees") 212Degrees]
        h3.col-sm-1.text-danger 2
        a.col-sm-2.matchlogo.inferno(href="linkhere")
        h3.col-sm-1.text-success 16
        h3.col-sm-4.text-left #[a(href="/teams/teamgreenpro") TeamGreenPro]
      div.row
        h3.col-sm-4.text-right #[a(href="/teams/swol_squad_6") Swol Squad 6]
        h3.col-sm-1.text-success 16
        a.col-sm-2.matchlogo.inferno(href="https://goo.gl/RMWnPL")
        h3.col-sm-1.text-danger 14
        h3.col-sm-4.text-left #[a(href="/teams/team_eclipse") Team Eclipse]
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/AuraGaming") AuraGaming]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/rollemover") RollemOver]

    div#week_5
      div.row
        h2.col-sm-12 Week 5
          small.col-sm-12 03/12 8pm PST Saturday
      div.row
        div.col-sm-3
        img.col-sm-2(src="/static/images/mirage.png")
        img.col-sm-2(src="/static/images/cache.png")
        img.col-sm-2(src="/static/images/dust2.png")
        div.col-sm-3
      div.row
        div.col-sm-4
        h3.col-sm-1 Home
        div.col-sm-2
        h3.col-sm-1 Away
        div.col-sm-4
      div.row
        h3.col-sm-5.text-right #[a(href="/teams/teamgreenpro") TeamGreenPro]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/team_eclipse") Team Eclipse]
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/212degrees") 212Degrees]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left #[a(href="/teams/rollemover") RollemOver]
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/swol_squad_6") Swol Squad 6]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/auragaming") AuraGaming]

    div#week_6
      div.row
        h2.col-sm-12 Week 6
          small.col-sm-12 03/19 8pm PST Saturday 
      div.row
        div.col-sm-3
        img.col-sm-2(src="/static/images/cache.png")
        img.col-sm-2(src="/static/images/inferno.png")
        img.col-sm-2(src="/static/images/mirage.png")
        div.col-sm-3
      div.row
        div.col-sm-4
        h3.col-sm-1 Home
        div.col-sm-2
        h3.col-sm-1 Away
        div.col-sm-4
      div.row
        h3.col-sm-5.text-right #[a(href="/teams/RollemOver") RollemOver]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/teamgreenpro") TeamGreenPro]
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/team_eclipse") Team Eclipse]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left #[a(href="/teams/auragaming") AuraGaming]
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/212degrees") 212Degrees]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/swol_squad_6") Swol Squad 6]

    div#week_7
      div.row
        h2.col-sm-12 Week 7
          small.col-sm-12 03/26 8pm PST Saturday
      div.row
        div.col-sm-3
        img.col-sm-2(src="/static/images/cobble.png")
        img.col-sm-2(src="/static/images/overpass.png")
        img.col-sm-2(src="/static/images/train.png")
        div.col-sm-3
      div.row
        div.col-sm-4
        h3.col-sm-1 Home
        div.col-sm-2
        h3.col-sm-1 Away
        div.col-sm-4
      div.row
        h3.col-sm-5.text-right #[a(href="/teams/teamgreenpro") TeamGreenPro]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/AuraGaming") AuraGaming]
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/rollemover") RollemOver]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left #[a(href="/teams/swol_squad_6") Swol Squad 6]
      div.row
        h3.col-sm-5.text-right  #[a(href="/teams/team_eclipse") Team Eclipse]
        h3.col-sm-2 vs
        h3.col-sm-5.text-left  #[a(href="/teams/212degrees") 212Degrees]
    hr
    div#playoffs
      h2 Playoffs
      h3: Playoffs will be determined at the end of the season.
