extends layout.jade

block page
  -var current_page = 'Rules'

block contents
  div.container.panel.panel-default
    h1 Rules
    h2 Roster
    ul
      li Every player on your team must be within the ranks Silver 1 and Distinguished Master Guardian, and could not have been higher than Distinguished Master Guardian, at any point in the past on any account.
      li You can add players until you have 7 players on your roster, then to add players you need to drop players.
      li If a player is dropped from your roster they cannot be readded.
      li You may have a player from another team sub, only if absolutly needed and they want to.
    h2 Matches
    ul
      li The team captains are required to email LowRankedLeague@mail.com your teams name, each player on your teams Steam Profile link, and the Steam Group link.
      li If a game has been rescheduled, both team captains must email LowRankedLeague@mail.com with the new Date/Time in Pacific Standard Time (PST)
      li At the end of each match your team captain is required to email the match link to LowRankedLeague@mail.com for proof of scores, and demos.
      li The team captain must check in 5-15 minutes prior to the match by emailing LowRankedLeague@mail.com with the subject "Checking In" with a link to the steam profiles of each player on their team that will be playing in that game.
      li If a team does not have 5 players able to play by the scheduled time of the game, it will be an automatic forfeit. Each team is allowed 7 players on the roster.
      li If two teams are unable to agree on a date/time for the games to be played, the preset scheduled time/date will be used.
      li In the chance both teams are unable to participate the game will result in a double forfeit.
      li Once a game has begun, it cannot be restarted, or stopped. (Except for Timeouts)
    h2 Behavior
    ul
      li Have good sportsmanship, and don't be disrespectful to your opponents.
      li If you suspect a player on the other team is cheating or is smurfing, send LowRankedLeague@mail.com an email with the games Demo, and the player that you think is cheating/smurfings name, and we'll do our best.
      li If a player is caught cheating (Via spectate, or ban from Popflash) it will result in an instant Game Disqualification, and your team will be required to find a replacement player, or drop from the league.
      li If players on your team are not being sportsmanlike they will recieve a warning, if they continue to be unsportsmanlike they will be suspended, after that they will be kicked from the league.
    h2 Maps/Server
      li During the regular season to determine the map that will be played, the home team vetos a map, then the away team vetos a map, the remaining map is played.
      li The server location must be agreed on by both teams.
      li You may not use your own server, the server must be a Popflash Scrim server
      li CEVO Scrim servers may be used as long as you have premission from LowRankedLeagues.
