extends layout.jade

block page
  -var current_page = 'Rules'

block contents
  div.container.panel.panel-default
    h1 Rules
    h2 Matches
    ul
      li The team captain must check in 5-15 minutes prior to the match by emailing csgoleagues@mail.com with the subject "Check-In <YourTeamName>". In this email you must have your players who are playing in that games steam profile link.
      li Games are pre-scheduled for 9pm Pacific Standard Time
      li Games can be rescheduled but must be played and reported within 4 days of your next game.
      li If a game has been rescheduled, both team captains must email csgoleagues@mail.com with the new Date/Time in Pacific Standard Time (PST)
      li At the end of each match your team captain is required to email the match link to csgoleagues@mail.com for proof of scores, and demos. The team captains must also send Screenshots of the final score in an email.
      li If a team does not have 5 players able to play by the scheduled time of the game, it will be an automatic forfeit.
      li If two teams are unable to agree on a date/time for the games to be played, the preset scheduled time/date will be used.
      li In the chance both teams are unable to participate the game will result in a double forfeit.
      li Once a game has begun, it cannot be restarted, or stopped. (Except for Timeouts)
    h2 Behavior
    ul
      li Have good sportsmanship, and don't be disrespectful to your opponents.
      li If you suspect a player on the other team is cheating send an email to csgoleagues@mail.com with the games Demo, and the player that you think is cheating name, and steam profile link. Our judges will decide if that player is cheating 3 days before the next games.
      li If a player is caught cheating (Via spectate, or ban) it will result in an instant Game Disqualification, and your team will be required to find a replacement player 3 days before the next games.
      li If players on your team are not being sportsmanlike they will recieve a warning, if they continue to be unsportsmanlike they will be suspended, after that they will be kicked from the league.
    h2 Maps/Server
    ul
      li During the regular season we will use https://csgomapveto.com/ to determine the map for each game, using the settings Best of 2, Ban/Ban/Pick, with the map pool Inferno, Overpass, Nuke, Mirage, Cache, Cobblestone, and Train
      li The server location must be agreed on by both teams.
      li You may use your own server, though there is a service http://www.popflash.site that gives free Scrim servers, its recommended that you use their service. Not sponsored.
