extends layout.jade

block page
  -var current_page = 'Standings'

block contents
  div.container.panel.panel-default
    table.table.table-striped.table-hover
      thead
        tr
          th Rank
          th Team name
          th Record W-L-T
      tbody
        tr 
          td 1
          td: a(href="/teams/auragaming") AuraGaming
          td 4-1-0    
		tr
          td 2
          td: a(href="/teams/swol_squad_6") Swol Squad 6
          td 4-1-0  
        tr
          td 3
          td: a(href="/teams/team_eclipse") Team Eclipse
          td 4-1-0 
        tr
          td 4
          td: a(href="/teams/teamgreenpro") TeamGreenPro
          td 2-3-0
        tr
          td 5
          td: a(href="/teams/212Degrees") 212Degrees
          td 1-4-0
        tr
          td 6
          td: a(href="/teams/rollemover") RollemOver
          td 0-5-0 		  
