
extends layout.jade

block page
  -var current_page = 'Standings'

block contents
  div.container.panel.panel-default
    table.table.table-striped.table-hover
      thead
        tr
          th Rank
          th Team name
          th Record W-L-T
      tbody 
        tr
          td 1
          td: a(href="/teams/teamgreenpro") Baltimore Riders
          td 0-0-0
        tr
          td 2
          td: a(href="/teams/teampasta") Boston Glory
          td 0-0-0	  
        tr
          td 3
          td: a(href="/teams/teampasta") Calgary Frost
          td 0-0-0	  
        tr
          td 4
          td: a(href="/teams/teampasta") Honolulu Waves
          td 0-0-0	  
        tr
          td 5
          td: a(href="/teams/teampasta") Las Vegas Devils
          td 0-0-0	            
        tr
          td 6
          td: a(href="/teams/teamgreenpro") Los Angeles Goblins
          td 0-0-0
        tr
          td 7
          td: a(href="/teams/teampasta") Louisville Firebirds
          td 0-0-0	  
        tr
          td 8
          td: a(href="/teams/teampasta") Mexico City Fire
          td 0-0-0	  
        tr
          td 9
          td: a(href="/teams/teampasta") Miami Rage
          td 0-0-0	  
        tr
          td 10
          td: a(href="/teams/teampasta") New York Kings
          td 0-0-0	            
        tr
          td 11
          td: a(href="/teams/teamgreenpro") Oklahoma City Horsepower
          td 0-0-0
        tr
          td 12
          td: a(href="/teams/teampasta") Sacramento Blades
          td 0-0-0	  
        tr
          td 13
          td: a(href="/teams/teampasta") San Antonio Rangers
          td 0-0-0	  
        tr
          td 14
          td: a(href="/teams/teampasta") San Jose Bolts
          td 0-0-0	  
        tr
          td 15
          td: a(href="/teams/teampasta") Toronto Tigers
          td 0-0-0	     
        tr
          td 16
          td: a(href="/teams/teampasta") Washington Hitmen
          td 0-0-0	           
         

