extends layout.jade

block page
  -var current_page = 'Teams'

block contents
  div.container.panel.panel-default
    h1 Teams
    p These pages may not be 100% accurate. If it's not accurate send an email to #[a(href="mailto: nextgenfootballleague@gmail.com?subject=Website Team Page") nextgenfootballleague@gmail.com] with the subject being "Website Team Page".
    div.list-group
    each url, team in teams
        a.list-group-item(href=url)= team
    p
